* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background: #FFFFFF;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F55A5A;
    height: 55px;
    margin-bottom: 45px;
}

.nav--title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.075em;
}

.nav--icon {
    height: 24px;
    margin-right: 7px;
}

.card {
    width: 478px;
    font-size: 12px;
    display: flex;
    color: #2B283A;
}

.card--image {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    margin-right: 19px;
}

.card--header {
    display: flex;
    align-items: center;
}

.card--icon {
    height: 10px;
    margin-right: 4px;
}

.card--location {
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.17em;
}

.card--title {
    font-weight: 700;
    font-size: 25px;
}

.card--date {
    font-weight: 700;
    font-size: 10px;
}

.card--description {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
}

hr {
    border: 1px solid #F5F5F5;
}