* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background: #FFFFFF;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F55A5A;
    height: 55px;
}

.nav--title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.075em;
}

.nav--icon {
    height: 24px;
    margin-right: 7px;
}