* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: white;
  color: #2B283A;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 90px;
  padding: 30px 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

header.dark {
  background-color: #21222A;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo > img {
  width: 40px;
  margin-right: 7px;
}

.nav-logo > span {
  color: #61DAFB;
  font-size: 1.4rem;
  font-weight: 700;
}

main {
  padding: 60px 0 60px 30px;
  flex: 1 1 auto;
}

main.dark {
  background-color: #282D35;
  color: white;
}

main > .facts-container {
  background-image: url(./images/react-logo-light.png);
  background-repeat: no-repeat;
  background-position: right 70%;
}

main.dark > .facts-container {
  background-image: url(./images/react-logo-dark.png);
}

.facts-container > h1 {
  margin: 0;
  font-size: 2.4rem;
}

.facts-list {
  margin-top: 46px;
  max-width: 400px;
}

.facts-list > li {
  padding-block: 10px;
  line-height: 19px;
}

.facts-list > li::marker {
  color: #61DAFB;
  font-size: 1.5rem;
}

/* Toggle Switch */
.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #61DAFB;
}

input:focus + .slider {
  box-shadow: 0 0 1px #61DAFB;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}