body {
    font-family: Inter, sans-serif;
    background: #23252C;
}

.container {
    margin: 44px auto;
    width: 317px;
    height: 780px;
}

.header--headshot {
    display: block;
}

main {
    padding-top: 21px;
    height: 378px;
    text-align: center;
    background: #1A1B21;
}

.main--name {
    margin: 0;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
}

.main--title {
    margin-top: 2px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 13px;
    color: #F3BF99;
}

.main--website {
    margin-top: 9px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 10px;
    color: #F5F5F5;
}

.main--buttons {
    margin-top: 17px;
}

.main--buttons > button {
    width: 115px;
    padding: 7px 0;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.icon {
    padding-right: 9.6px;
}

#email-btn {
    border: 1px solid #D1D5DB;
    color: #374151;
    background: white;
    
}

#linkedin-btn {
    margin-left: 19px;
    border: 1px solid #5093E2;
    color: white;
    background: #5093E2;
}

.details {
    text-align: left;
    margin: 33px auto;
    max-width: 247px;
}

.details > h4 {
    margin: 0;
    color: #F5F5F5;
}

.main--interests {
    margin-top: 15px;
}

.main--description {
    margin-top: 5px;
    color: #DCDCDC;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
}

footer {
    height: 64px;
    text-align: center;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
}

footer > button {
    margin-top: 19.5px;
    width: 26px;
    height: 26px;
    border: none;
    background: none;
    background-repeat: no-repeat;
}

.twitter--btn {
    background-image: url("./images/twitter-icon.png");
}

.facebook--btn {
    margin-left: 24px;
    background-image: url("./images/facebook-icon.png");
}

.instagram--btn {
    margin-left: 24px;
    background-image: url("./images/instagram-icon.png");
}

.github--btn {
    margin-left: 24px;
    background-image: url("./images/github-icon.png");
}